importFrom("digest", "digest")
export("initProjectFromFolder", 
       "buildMakefile",
       "make", 
       "libraryPath", 
       "sourcePath", 
       "includePath", 
       "objPath", 
       "installLibraryPath", 
       "installIncludePath", 
       "loadLibrary", 
       "unloadLibrary",
       "vcDebug")
exportClasses("BSysSourceFile", 
              "BSysProject")
